<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario de compra</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}">
</head>
<div class="container mt-4 mb-4">
    <h1 th:text="${compra.id != null} ? 'Editar compra' : 'Crear compra'"></h1>

    <form method="POST" th:object="${compra}" th:action="@{/compras}">
        <div class="mb-3" th:if="${compra.id != null}">
            <label for="id" class="form-label">ID</label>
            <input type="text" id="id" th:field="*{id}" class="form-control" readonly/>
        </div>
        <div class="mb-3">
            <label for="fechaCompra" class="form-label">Fecha de compra</label>
            <input type="datetime-local" id="fechaCompra" th:field="*{fechaCompra}" class="form-control"/>
        </div>
        <div class="mb-3">
            <label for="idUsuario" class="form-label">Selecciona un usuario</label>
            <select id="idUsuario" th:field="*{idUsuario.id}" class="form-select">
                <option th:selected="${compra.idUsuario == null}" value=""></option>
                <option
                        th:each="idUsuario: ${usuarios}"
                        th:text="${idUsuario.nombreUsuario}"
                        th:value="${idUsuario.id}"
                        th:selected="${compra.idUsuario.id == idUsuario.id}">
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label for="idJuego" class="form-label">Selecciona un juego</label>
            <select id="idJuego" th:field="*{idJuego.id}" class="form-select">
                <option th:selected="${compra.idJuego == null}" value=""></option>
                <option
                        th:each="idJuego: ${juegos}"
                        th:text="${idJuego.nombreJuego}"
                        th:value="${idJuego.id}"
                        th:selected="${compra.idJuego.id == idJuego.id}">
                </option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary me-2"><i class="fas fa-save"></i> Guardar </button>
        <a th:href="@{/compras}" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Cancelar</a>
    </form>
</div>

<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/webjars/font-awesome/js/all.min.js}"></script>
</body>
</html>