<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Detalle de compra</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}">
    <link rel="shortcut icon" href="#" />
</head>
<body>

<div th:replace="~{navbar :: nav1}"></div>
<div class="container">
    <h1 th:if="${compra}">Detalle de compra <span th:text="${compra.id}"></span></h1>
    <h1 th:unless="${compra}">Compra no encontrada</h1>

    <div th:if="${compra}">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 id="compra-fecha" class="card-title" th:text="${compra.fechaCompra}"></h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">
                    ID: <span id="compra-id" th:text="${compra.id}"></span>
                    <br>
                </h6>
                <p class="card-text">
                    <span th:if="${compra.usuario}">
                        <a id="usuarioLink" th:href="@{/usuarios/{id}(id=${compra.usuario.id})}" th:text="${compra.usuario.nombre}"></a>
                    </span>
                    <span id="usuarioVacio" th:unless="${compra.usuario}" class="text-danger">Sin usuario</span>
                    <span th:if="${compra.juego}">
                        <a id="juegoLink" th:href="@{/juegos/{id}(id=${compra.juego.id})}" th:text="${compra.juego.nombre}"></a>
                    </span>
                    <span id="juegoVacio" th:unless="${compra.juego}" class="text-danger">Sin fabricante</span>
                </p>
                        <a id="editButton" th:href="@{/compras/update/{id}(id=${compra.id})}" class="btn btn-primary">
                            <i class="fas fa-edit"></i>
                            Editar</a>
                        <a id="deleteButton" th:href="@{/compras/delete/{id}(id=${compra.id})}" class="btn btn-danger">
                            <i class="fas fa-trash"></i>
                            Borrar</a>
                    </div>
                </div>
            </div>

    <div th:unless="${compra}">
        <p id="compraVacia">No existe la compra</p>
    </div>

    <div class="mt-3">
        <a id="backButton" th:href="@{/compras}" class="btn btn-secondary">
            <i class="fas fa-arrow-left"></i>
            Volver a la lista</a>
    </div>
</div>
<div th:replace="~{footer :: footer1}"></div>

<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/webjars/font-awesome/js/all.min.js}"></script>
</body>
</html>