<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario de compra</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}">
    <link rel="shortcut icon" href="#" />
</head>
<body>

<div th:replace="~{navbar :: nav1}"></div>

<div class="container mt-4 mb-4">
    <h1 th:text="${compra.id != null} ? 'Editar compra' : 'Crear compra'"></h1>

    <form method="POST" th:object="${compra}" th:action="@{/compras}">

        <input type="hidden" id="id" th:field="*{id}"/>

        <div class="mb-3">
            <label for="fechaCompra" class="form-label">Fecha de compra</label>
            <input type="datetime-local" id="fechaCompra" th:field="*{fechaCompra}" class="form-control"/>
        </div>
        <div class="mb-3">
            <label for="usuario" class="form-label">Selecciona un usuario</label>
            <select id="usuario" th:field="*{usuario.id}" class="form-select">
                <option th:selected="${compra.usuario == null}" value=""></option>
                <option
                        th:each="usuario: ${usuarios}"
                        th:value="${usuario.id}">
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label for="juego" class="form-label">Selecciona un juego</label>
            <select id="juego" th:field="*{juego.id}" class="form-select">
                <option th:selected="${compra.juego == null}" value=""></option>
                <option
                        th:each="juego: ${juegos}"
                        th:value="${juego.id}">
                </option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary me-2">
            <i class="fas fa-save"></i>
            Guardar </button>
        <a th:href="@{/compras}" class="btn btn-secondary">
            <i class="fas fa-arrow-left"></i>
            Cancelar</a>
    </form>
</div>

<div th:replace="~{footer :: footer1}"></div>

<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/webjars/font-awesome/js/all.min.js}"></script>
</body>
</html>