<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de compras</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}">
    <link rel="shortcut icon" href="#" />
</head>
<body>

<div th:replace="~{navbar :: nav1}"></div>

<div class="container mt-4"></div>
    <h1 th:text="${titulo}"></h1>

    <div class="mt-3 mb-3">

        <div class="mt-3 mb-3">
            <a id="btnCrearCompra" href="/compras/new" class="btn btn-primary">
                <i class="fas fa-plus"></i>
                Crear nueva compra
            </a>
        </div>
        <table class="table table-striped" id="compraList" th:if="${compras.size() > 0}">
            <thead>
            <tr>
                <th>ID</th>
                <th>FECHA DE COMPRA</th>
                <th>ID DE USUARIO</th>
                <th>ID DE JUEGO</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="compra: ${compras}">
                <td th:text="${compra.id}"></td>
                <td th:text="${compra.fechaCompra}"></td>
                <td>
                    <span th:if="${compra.usuario}" th:text="${compra.usuario.id}"></span>
                    <span th:unless="${compra.usuario}" class="text-danger">Sin usuario</span>
                </td>
                <td>
                    <span th:if="${compra.juego}" th:text="${compra.juego.id}"></span>
                    <span th:unless="${compra.juego}" class="text-danger">Sin usuario</span>
                </td>
                <td>
                        <a th:href="@{/compras/{id}(id=${compra.id})}" class="btn btn-sm btn-info">
                            <i class="fas fa-eye"></i>
                            Ver</a>
                        <a th:href="@{/compras/update/{id}(id=${compra.id})}" class="btn btn-sm btn-warning">
                            <i class="fas fa-edit"></i>
                            Editar</a>
                        <a th:href="@{/compras/delete/{id}(id=${compra.id})}" class="btn btn-sm btn-danger">
                            <i class="fas fa-trash"></i>
                            Borrar</a>
                </td>
            </tr>
            </tbody>
        </table>

    <p id="compraVacia" th:if="${compras.size() == 0}">
        No hay compras.
    </p>
</div>
<div th:replace="~{footer :: footer1}"></div>

<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/webjars/font-awesome/js/all.min.js}"></script>
</body>
</html>