<!DOCTYPE html>
<html lang="en" data-bs-theme="dark" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FORMULARIO DESARROLLADORA</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link href="https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}">
</head>
<body style="font-family: 'Freckle Face', sans-serif;">

<div th:replace="~{navbar :: nav1}"></div>

<div class="container mt-4">
    <h1 th:text="${desarrolladora.id != null} ? 'Editar desarrolladora' : 'Crear nueva desarrolladora'"></h1>


    <form method="POST" th:object="${desarrolladora}" th:action="@{/desarrolladoras}">

        <input type="hidden" id="id" th:field="*{id}" />

        <div class="mb-3">
            <label for="nombreCom" class="form-label">Nombre compañia</label>
            <input type="text" id="nombreCom" th:field="*{nombreCom}" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="pais" class="form-label">País</label>
            <input type="text" id="pais" th:field="*{pais}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="imagenLogo" class="form-label">URL de la imagen</label>
            <input type="text" id="imagenLogo" th:field="*{imagenLogo}" class="form-control">
        </div>

        <div class="mb-3">
            <label for="anyoFundacion" class="form-label">Año fundación</label>
            <input type="number" id="anyoFundacion" th:field="*{anyoFundacion}" class="form-control">
        </div>


        <button id="btnSend" type="submit" th:if="${desarrolladora.id}" class="btn btn-primary">
            <i class="fas fa-save"></i>
            EDITAR</button>
        <button type="submit" th:unless="${desarrolladora.id}" class="btn btn-primary">
            <i class="fas fa-save"></i>
            CREAR</button>
        <a th:href="@{/desarrolladoras}" class="btn btn-secondary">
            <i class="fas fa-arrow-left"></i>
            Cancelar
        </a>
    </form>
</div>

<div th:replace="~{footer :: footer1}"></div>

<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/webjars/font-awesome/js/all.min.js}"></script>
</body>
</html>