<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>DESARROLLADORAS</title>
</head>
<body>

<h1>DESARROLLADORAS</h1>
<a href="/desarrolladoras/new">Crear nuevo fabricante</a>
<table id="desarrolladoraList" th:if="${desarrolladoras.size() > 0}">
  <tr>
    <th>ID</th>
    <th>NOMBRE</th>
    <th>DESCRIPCIÓN</th>
    <th>LOGO</th>
    <th>AÑO</th>
  </tr>
  <tr th:each="desarrolladora: ${desarrolladoras}">
    <td th:text="${desarrolladora.nombreCom}"></td>
    <td>
      <img th:src="${desarrolladora.imagenLogo}" alt="Logo" style="max-width: 60px;">
    </td>
    <td th:text="${desarrolladora.anyoFundacion}"></td>
    <td th:text="${desarrolladora.pais}"></td>
  </tr>

</table>
<p th:if="${desarrolladoras.size() == 0}">
  DESARROLLADORAS NO ENCONTRADAS.
</p>

</body>
</html>