
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark" xmlns:th="http://www.thymeleaf.org">
	<link href="https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap" rel="stylesheet">

    <body style="font-family: 'Freckle Face', sans-serif;">
<nav th:fragment="nav1" class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a id="homeLink" class="navbar-brand" href="/compras">
            <img th:src="@{/logo.jpg}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            JIMSA
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarApp" aria-controls="navbarApp" aria-expanded="false" aria-label="Alternar navegación">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarApp">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- Enlaces de navegación -->
                <li class="nav-item">
                    <a id="usuariosLink" class="nav-link" th:href="@{/usuarios}">
                        <i class="fa-solid fa-user"></i>
                        Usuarios
                    </a>
                </li>
                <li class="nav-item">
                    <a id="juegosLink" class="nav-link" th:href="@{/juegos}">
                        <i class="fa-solid fa-gamepad"></i>
                        Juegos
                    </a>
                </li>
                <li class="nav-item">
                    <a id="desarrolladorasLink" class="nav-link" th:href="@{/desarrolladoras}">
                        <i class="fa-solid fa-industry"></i>
                        Desarrolladoras
                    </a>
                </li>
<!--                <li class="nav-item">-->
<!--                    <a id="valoracionesLink" class="nav-link" th:href="@{/valoraciones}">-->
<!--                        <i class="fa-solid fa-heart"></i>-->
<!--                        Valoraciones-->
<!--                    </a>-->
<!--                </li>-->
                <li class="nav-item">
                    <a id="comprasLink" class="nav-link" disable aria-disabled="true" th:href="@{/compras}">
                        <i class="fa-solid fa-shopping-cart"></i>
                        Compras
                    </a>
                </li>
                <li class="nav-item">
                    <a id="juegosUsuarioLink" class="nav-link" disable aria-disabled="true" th:href="@{/juegosUsuario}">
                        <i class="fa-solid fa-gamepad"></i>
                        Juegos de usuario
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>