<!DOCTYPE html>
<html lang="en" data-bs-theme="dark" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Detalle de usuario</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}">
	<link href="https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="#" />
</head>
<body style="font-family: 'Freckle Face', sans-serif;">

<div th:replace="~{navbar :: nav1}"></div>
<div class="container">
    <h1 th:if="${usuario}">Detalle de usuario <span th:text="${usuario.id}"></span></h1>
    <h1 th:unless="${usuario}">Usuario no encontrado</h1>

    <div th:if="${usuario}">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4 mt-3">
                    <h5 id="usuario-nickname" class="card-title" th:text="${usuario.nombreUsuario}"></h5>
                    <p id="usuario-password" class="card-text" th:text="${usuario.password}"></p>
                    <p id="usuario-nombre" class="card-text" th:text="${usuario.nombre}"></p>
                    <p id="usuario-direccion" class="card-text" th:text="${usuario.direccion}"></p>
                    <p id="usuario-CP" class="card-text" th:text="${usuario.CP}"></p>
                    <p id="usuario-DNI" class="card-text" th:text="${usuario.DNI}"></p>
                    <p id="usuario-fechaCreacion" class="card-text"><small class text-muted>
                        Fecha de creación: <span th:text="${usuario.fechaCreacion}"></span></small></p>
                    <div>
                        <a id="editButton" th:href="@{/usuarios/update/{id}(id=${usuario.id})}" class="btn btn-primary">
                            <i class="fas fa-edit"></i>
                            Editar</a>
                        <a id="deleteButton" th:href="@{/usuarios/delete/{id}(id=${usuario.id})}" class="btn btn-danger">
                            <i class="fas fa-trash"></i>
                            Borrar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:unless="${usuario}">
        <p id="usuarioVacio">No existe el usuario</p>
    </div>

    <div class="mt-3">
        <a id="backButton" th:href="@{/usuarios}" class="btn btn-secondary">
            <i class="fas fa-arrow-left"></i>
            Volver al listado</a>
    </div>
</div>

<div th:replace="~{footer :: footer1}"></div>


<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/webjars/font-awesome/js/all.min.js}"></script>
</body>
</html>