<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario de usuario</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}">
    <link rel="shortcut icon" href="#" />
</head>
<body>

<div th:replace="~{navbar :: nav1}"></div>

<div class="container mt-4 mb-4">
    <h1 th:text="${usuario.id != null} ? 'Editar usuario' : 'Crear usuario'"></h1>

    <form method="POST" th:object="${usuario}" th:action="@{/usuarios}">

        <input type="hidden" id="id" th:field="*{id}"/>

        <div class="mb-3">
            <label for="nombreUsuario" class="form-label">Nombre de usuario</label>
            <input type="text" id="nombreUsuario" th:field="*{nombreUsuario}" class="form-control"/>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="text" id="password" th:field="*{password}" class="form-control"/>
        </div>
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" id="nombre" th:field="*{nombre}" class="form-control"/>
        </div>
        <div class="mb-3">
            <label for="direccion" class="form-label">Dirección</label>
            <input type="text" id="direccion" th:field="*{direccion}" class="form-control"/>
        </div>
        <div class="mb-3">
            <label for="CP" class="form-label">Código postal</label>
            <input type="number" id="CP" th:field="*{CP}" class="form-control"/>
        </div>
        <div class="mb-3">
            <label for="dni" class="form-label">DNI</label>
            <input type="text" id="dni" th:field="*{DNI}" class="form-control"/>
        </div>
        <div class="mb-3">
            <label for="fechaCreacion" class="form-label">fechaCreacion</label>
            <input type="text" id="fechaCreacion" th:field="*{fechaCreacion}" class="form-control" readonly/>
        </div>

        <button type="submit" class="btn btn-primary me-2">
            <i class="fas fa-save"></i>
            Guardar edición</button>
        <a th:href="@{/usuarios}" class="btn btn-secondary">
            <i class="fas fa-arrow-left"></i>
            Cancelar
        </a>
    </form>
</div>

<div th:replace="~{footer :: footer1}"></div>


<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/webjars/font-awesome/js/all.min.js}"></script>
</body>
</html>